---
title: pagetitles.about
permalink: /about/
layout: page
excerpt: About Pivideogames Studio
comments: false
---

<div class="about-us">
	{% assign sections = site.data.about-us-info %}
	{% if sections %}
		{% for info in sections %}
			<section class="about-us-section">
				<div class="content">
					<div class="image-container {{ info.right_or_left }}">
						{% if info.img_max_height %}
							<img src="{{ info.image }}" style="max-height: {{ info.img_max_height }}; width: auto;">
						{% else %}
							<img src="{{ info.image }}">
						{% endif %}
					</div>
					<div class="info-content {{ info.right_or_left }}">
						<h3 class="title">
							{{ info.title }}
						</h3>
						<div class="description">
							{{ info.desc }}
						</div>
					</div>
				</div>
			</section>
		{% endfor %}
	{% else %}

	{% endif %}
</div>