<nav class="post-nav">
  {% if page.previous %}
  <a class="post-nav-item post-nav-prev" href="{{ page.previous | relative_url }}">
    <div class="nav-arrow">{% t buttons.previous %}</div>
    <span class="post-title">{% t page.previous.title %}</span>
  </a>
  {% endif %} {% if page.next %}
  <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
    <div class="nav-arrow">{% t buttons.next %}</div>
    <span class="post-title">{% t page.next.title %}</span>
  </a>
  {% endif %}
</nav>